@media only screen and (min-width: 768px){    
        .footer--book{
            display: flex;                          
            justify-content: flex-end;                
            align-items: center;                 
            margin-top: 230px;
    }
    .footerjoin{display: flex;                          
        justify-content: flex-end;                
        align-items: center;                 
        margin-top: 30px;

    }
}

