@media only screen and (min-width: 768px){
    .footerjoin{
            display: flex;
        
                justify-content: flex-end;
                align-items: center;
                margin-top: 70px;
            
        }
        .footer--book{
            display: flex;
        
                justify-content: flex-end;
                align-items: center;
                margin-top: 200px;
    }
}